.container {
    margin-top: 8rem;
    margin-bottom: 5rem;
    min-height: 600px;
    width: 100%;
    max-width: 1440px;
    
}

.ProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

