.footer {
  display: flex;
  max-width: 1440px;
  width:100%;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #8B8989;
  line-height: 5;
  letter-spacing: 1%;
  margin: 2rem;
}

.gh-link {
  font-weight: normal;
}

.footerText{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 5;
}

span {
  color: #9CE5CA;
}
